<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="ci_dashboard12.css" type="text/css"/>
<script type="text/javascript" src="jquery-latest.min.js"></script>
<script>
function goBack() {
    window.history.back();
}
</script>

<body>
<fieldset class="fieldset_lcr">
	<legend class="legend_lcr">New Lead Change Record</legend>
	<div class="list">
		
		<div class="group_label_textbox">
			<div class="div_label">Title*:</div>
			<input type="text" class="text_box" name="contact_name" size="20" ><br><br>
		</div><br><br>
		
		<div class="group_label_textbox">
			<div class="div_label">Description*:</div>
			<textarea name="description" class="text_area" cols=40 rows=10></textarea><br><br>
		</div><br><br>
		
		<div class="group_label_textbox">
			<div class="div_label">Change Category*:</div>
			<select name="change_category" class="text_box">
				<option id="new" value="new">New</option>
				<option id="fix" value="fix">Fix</option>
				<option id="functional" value="functional">Functional</option>
				<option id="it_technical" value="it_technical">IT Technical</option>
				<option id="legislative" value="legislative">Legislative</option>
			</select> <br><br>	
		</div><br><br>
		
		<div class="group_label_textbox">
			<div class="div_label">Lead ASCH RFC (optional):</div>
			<input type="text" class="text_box" name="lead_asch_rfc" size="20" ><br><br>
		</div><br><br>
		
		<div class="group_label_textbox">
			<div class="div_label">Project Code (optional):</div>
			<input type="text" class="text_box" name="project_code" size="20" ><br><br>
		</div><br><br><br><br><br><br><br><br>
		
		
		<div class="button_cancel">
			<button onclick="goBack()" class="btn">Cancel</button>
		</div>
		
		<form name="input" action="new_deployment" method="get">
			<div class="button_submit">
				<button type="submit" class="btn">Submit</button>
			</div>
		</form>
		<br><br><br><br><br><br>
	</div> 
</fieldset>	


</body>
</html>






